# Ignore image files
*.jpg

# Ignore compressed files
*.tar.gz
*.gz


# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore pycache
__pycache__/

# Ignore virtual environment
myenv/

# Ignore vscode settings
.vscode/